@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Slabo+27px&display=swap");

.body {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}
.donate-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(
    0,
    153,
    82,
    0.877
  ); /* Green background with transparency */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.842);
}
.donate-container h1,
.donate-container h2 {
  text-align: center;
}
.form-label {
  color: white;
}
#donate-container {
  max-width: 5000px;
  margin: 50px auto;
}
.position-relative {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  #donate-container h1 {
    font-size: 2rem;
  }
  #donate-container p {
    font-size: 1rem;
  }
}

.footer {
  background-color: #48a368; /* Match the green color */
  color: white;
  padding: 40px 20px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-logo img {
  width: 80px;
}
.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1.5rem;
}
.subscribe-input {
  max-width: 300px;
}
.form-check-label {
  font-size: 0.9rem;
}

/* header */
.box {
  font-family: "Barlow Condensed", sans-serif;
}
